.caro{
    height: 600px;
}
.caro img{
    height: 600px;
}
.text{
    height: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.text a{
    text-decoration: none;
    padding: 15px;
    margin-top: 1%;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(9, 9, 138);
}