body{
    background-color: rgb(241, 230, 230);
}
.caro{
    height: 600px;
}
.caro img{
    height: 600px;
}
.text{
    height: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.text a,.course a{
    text-decoration: none;
    padding: 15px;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: #0db7eb;
}
.reg{
    padding-top: 7%;
}
.register{
    text-decoration: none;
    padding: 15px;
    font-size: 1.25rem;
    margin-left: 60%;
    margin-top: 20%;
    background-color: white;
}